
// var
$white-color:#fff;
$black-color:#000;
$min-color:#486fc4;
$sub-color:#ba2c63;
$gray-color:#edf2f9;
$gray-color2:#333;
$english_font:'Roboto', sans-serif;
$arabc_font:'Cairo', sans-serif;

// var


